xsd/js.conf.xsd

<schema targetNamespace="js.conf" initializeInvisibleChildren="false"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:ns1="js.core"
    xmlns:ns="js.conf">
    <import initializeInvisibleChildren="false"/>
    <element name="DataSourceConfiguration" type="ns:DataSourceConfiguration" initializeInvisibleChildren="false"/>
    <element name="InjectionConfiguration" type="ns:InjectionConfiguration" initializeInvisibleChildren="false"/>
    <element name="ModuleConfiguration" type="ns:ModuleConfiguration" initializeInvisibleChildren="false"/>
    <element name="ResourceConfiguration" type="ns:ResourceConfiguration" initializeInvisibleChildren="false"/>
    <element name="RouteConfiguration" type="ns:RouteConfiguration" initializeInvisibleChildren="false"/>
    <complexType name="DataSourceConfiguration" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:ResourceConfiguration" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.conf.DataSourceConfiguration" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="InjectionConfiguration" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns1:Configuration" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.conf.InjectionConfiguration" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="type" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the type of the injection type
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="factory" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the factory that will be injected. If no factory is given the
factory will be automatically required

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="singleton" initializeInvisibleChildren="false" default="true">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        add instance to singleton cache?
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ModuleConfiguration" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns1:Configuration" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.conf.ModuleConfiguration" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="route" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        a regular expression that will activate the module if the route matches
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="name" initializeInvisibleChildren="false" use="required">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        a unique name of the module so the ModuleLoader can determinate if a Module has been already loaded
or is currently active

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="moduleClass" initializeInvisibleChildren="false" use="required">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the full qualified name (e.g. app.module.MyModule) of the module to be loaded if the route is executed
or the ModuleLoader.loadModule method is invoked manually.
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="attributes" initializeInvisibleChildren="false"/>
                <attribute name="relative" initializeInvisibleChildren="false"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ResourceConfiguration" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns1:Configuration" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.conf.ResourceConfiguration" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="resourceHandler" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        a custom resource handler to handle this request
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="modelClassName" initializeInvisibleChildren="false" use="required">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the full qualified class name of the model used for operating on this resource

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="path" initializeInvisibleChildren="false" use="required">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the rest path used for access and save the model data. Keep in mind that
ResourceConfiguration can be nested to have a context save environment.

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="collectionClassName" initializeInvisibleChildren="false"/>
                <attribute name="processor" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the name of the optional processor mapped with the $processors property of the RestDataSource

                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RouteConfiguration" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns1:Configuration" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.conf.RouteConfiguration" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="name" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the name of the route. The name is just used for easier debugging reasons.
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="route" initializeInvisibleChildren="false" use="required">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        a regular expression defining the route for matching the fragment. The starting #/ fragment is stripped from
the fragment.

Each matching group is provided in the `onexec` event handler as parameter. The first matching group will become the
second parameter as the first parameter of the event handler is always the routeContext.

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="onexec" initializeInvisibleChildren="false" default="_onExecHandler" type="string">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the exec event is dispatched if the route matches the fragment. The event handler is invoked with the routeContext as
first parameter followed by parameters for each matched group of the regular expression.

Keep in mind to annotate the event handler function with the `async()` method annotation if you need to do asynchronous
code executing.
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
</schema>