xsd/js.core.xsd

<schema targetNamespace="js.core" initializeInvisibleChildren="false"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:ns1="js.html"
    xmlns:ns2="js.ui"
    xmlns:ns="js.core">
    <import initializeInvisibleChildren="false"/>
    <import initializeInvisibleChildren="false"/>
    <element name="Application" type="ns:Application" initializeInvisibleChildren="false"/>
    <element name="Component" type="ns:Component" initializeInvisibleChildren="false"/>
    <element name="Template" type="ns:Template" initializeInvisibleChildren="false"/>
    <element name="Configuration" type="ns:Configuration" initializeInvisibleChildren="false"/>
    <element name="Content" type="ns:Content" initializeInvisibleChildren="false"/>
    <element name="DateFormatter" type="ns:DateFormatter" initializeInvisibleChildren="false"/>
    <element name="DomElement" type="ns:DomElement" initializeInvisibleChildren="false"/>
    <element name="ErrorProvider" type="ns:ErrorProvider" initializeInvisibleChildren="false"/>
    <element name="Head" type="ns:Head" initializeInvisibleChildren="false"/>
    <element name="I18n" type="ns:I18n" initializeInvisibleChildren="false"/>
    <element name="Injection" type="ns:Injection" initializeInvisibleChildren="false"/>
    <element name="Module" type="ns:Module" initializeInvisibleChildren="false"/>
    <element name="ModuleLoader" type="ns:ModuleLoader" initializeInvisibleChildren="false"/>
    <element name="NotificationManager" type="ns:NotificationManager" initializeInvisibleChildren="false"/>
    <element name="PopupManager" type="ns:PopupManager" initializeInvisibleChildren="false"/>
    <element name="Repeat" type="ns:Repeat" initializeInvisibleChildren="false"/>
    <element name="Router" type="ns:Router" initializeInvisibleChildren="false"/>
    <element name="Stage" type="ns:Stage" initializeInvisibleChildren="false"/>
    <element name="TooltipManager" type="ns:TooltipManager" initializeInvisibleChildren="false"/>
    <element name="Window" type="ns:Window" initializeInvisibleChildren="false"/>
    <element name="WindowManager" type="ns:WindowManager" initializeInvisibleChildren="false"/>
    <complexType name="Application" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Window" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.Application" initializeInvisibleChildren="false">
                                An application is a Window, which gets bootstrapped and started by rAppid.js and is attached to the WindowManager.

Setting up and application can be easily done via the `rappidjs create app` command. For more information about projects \
have a look at http://rappidjs.com/#/wiki/Project

                            </documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Component" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="anyType" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.Component" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="cid" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the cid is a unique identifier for the component within a xaml class. \
The corresponding component will be automatically added to the $ of the instance of the xaml class.

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="creationPolicy" initializeInvisibleChildren="false" default="auto">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        Decides if the initialization of the component is started automatically or manually by the application
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Template" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.Template" initializeInvisibleChildren="false">
                                A template a xaml descriptor components are created from during runtime

Templates are used to define repeatable elements, like the view of a renderer
in a list. The name of the template is unique and is required.

Components with defined $defaultTemplateName are creating template descriptors dynamically based on the
children.

                            </documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="name" initializeInvisibleChildren="false" use="required">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the name of the template
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Configuration" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.conf.Configuration" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Content" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.Content" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="name" initializeInvisibleChildren="false" use="required">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the name of the content matching the name of the target ContentPlaceHolder
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DateFormatter" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.DateFormatter" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="locale" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The default locale

                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DomElement" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.DomElement" initializeInvisibleChildren="false">
                                 first set empty -> needed for Chrome
 then remove -> needed for firefox
 calculate the index, where the element should appear
 IMPORTANT: use setAttribute otherwise the css classes won't be set on SVG elements
 register a click listener for the case the device supports mouse and touch (e.g. chrome under windows 8 metro)
 unregister click listener for the case the device supports mouse and touch (e.g. chrome under windows 8 metro)
                            </documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="class" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        sets the class for the Component.
The resulting class attributes is the union from class and componentClass of the Element.

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="componentClass" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        sets the componentClass for the Component.
The resulting class attributes is the union from class and componentClass of the Element.

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="animationClass" initializeInvisibleChildren="false"/>
                <attribute name="visible" initializeInvisibleChildren="false" default="true">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        sets the visibility of an component. If the value is false the component is removed from the DOM.

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="initializeInvisibleChildren" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        if true the children are initialized even when the element is not visible

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="enabled" initializeInvisibleChildren="false" default="true"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ErrorProvider" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.ErrorProvider" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="i18n" initializeInvisibleChildren="false"/>
                <attribute name="scope" initializeInvisibleChildren="false" default="error"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Head" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.Head" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="title" initializeInvisibleChildren="false"/>
                <attribute name="head" initializeInvisibleChildren="false"/>
                <attribute name="author" initializeInvisibleChildren="false"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="I18n" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.I18n" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="path" initializeInvisibleChildren="false" default="app/locale"/>
                <attribute name="locale" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The default locale

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="suffix" initializeInvisibleChildren="false" default=".json">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The suffix of the locale file

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="translations" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        An object with all translations read from the locale file
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="loadLocaleDuringInitialization" initializeInvisibleChildren="false" default="true">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        determinate if the locale will be loaded automatically during initialization
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Injection" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.Injection" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Module" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns1:HtmlElement" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.Module" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="base" initializeInvisibleChildren="false"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ModuleLoader" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns1:HtmlElement" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.ModuleLoader" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="currentModuleName" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The current module name
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="currentModule" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The current module
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="tagName" initializeInvisibleChildren="false" default="div"/>
                <attribute name="state" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The current state - is set to "loading" or "loading unloading"
Is rendered to css className
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="router" initializeInvisibleChildren="false" use="required">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the router used for automatically registering routes from {@link js.conf.ModuleConfiguration}

                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="NotificationManager" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.NotificationManager" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="duration" initializeInvisibleChildren="false" default="3">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The duration in seconds

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="containerClass" initializeInvisibleChildren="false" default="notifications">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The css class for the container, which contains the notifications

                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PopupManager" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.PopupManager" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Repeat" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.Repeat" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="items" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        An array or a List of items

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="itemKey" initializeInvisibleChildren="false" default="item">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The key you want to use in the item template
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="indexKey" initializeInvisibleChildren="false" default="index">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The key you want to use for the index
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="keyPath" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        KeyPath is used for item comparison.
If it's not set the default === comparison is used.
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="onitemsRendered" initializeInvisibleChildren="false" default="_onItemsRenderedHandler" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Router" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.Router" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="module" initializeInvisibleChildren="false"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Stage" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns1:HtmlElement" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.Stage" initializeInvisibleChildren="false">
                                The stage is the main container for each application.It contains all root HTML elements like windows, tooltips or popups.Usually an application is one window on the stage.


                            </documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="tagName" initializeInvisibleChildren="false" default="div"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TooltipManager" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:Component" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.TooltipManager" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="containerClass" initializeInvisibleChildren="false" default="tooltips">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The css class of the TooltipManager container
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="animationClass" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        The animation class which should be added for show and hide
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="duration" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        default duration for auto-hide in ms
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Window" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns2:View" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.Window" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="closeOnBackdrop" initializeInvisibleChildren="false"/>
                <attribute name="onbackdropClick" initializeInvisibleChildren="false" default="_onBackdropClickHandler" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WindowManager" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns1:HtmlElement" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.core.WindowManager" initializeInvisibleChildren="false">
                                The WindowManager manages Windows on the Stage.

                            </documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="tagName" initializeInvisibleChildren="false" default="div"/>
            </extension>
        </complexContent>
    </complexType>
</schema>