xsd/js.html.xsd

<schema targetNamespace="js.html" initializeInvisibleChildren="false"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:ns1="js.core"
    xmlns:ns2="js.ui"
    xmlns:ns="js.html">
    <import initializeInvisibleChildren="false"/>
    <import initializeInvisibleChildren="false"/>
    <element name="A" type="ns:A" initializeInvisibleChildren="false"/>
    <element name="HtmlElement" type="ns:HtmlElement" initializeInvisibleChildren="false"/>
    <element name="Input" type="ns:Input" initializeInvisibleChildren="false"/>
    <element name="Option" type="ns:Option" initializeInvisibleChildren="false"/>
    <element name="Select" type="ns:Select" initializeInvisibleChildren="false"/>
    <element name="TextArea" type="ns:TextArea" initializeInvisibleChildren="false"/>
    <complexType name="A" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:HtmlElement" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.html.A" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="tagName" initializeInvisibleChildren="false" default="a"/>
                <attribute name="target" initializeInvisibleChildren="false"/>
                <attribute name="href" initializeInvisibleChildren="false"/>
                <attribute name="createHistoryEntry" initializeInvisibleChildren="false" default="true"/>
                <attribute name="triggerRoute" initializeInvisibleChildren="false" default="true"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HtmlElement" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns1:DomElement" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.html.HtmlElement" initializeInvisibleChildren="false">
                                Represents a HTML Element in the DOM
                            </documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="selected" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        If not null, false or undefined the "active" CSS class is added

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectable" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        If not null, false or undefined a click will set the element to selected
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="namespace" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the target namespace for the HTMLElement
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="position" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        Possible values: "absolute", "relative"
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="heightUpdatePolicy" initializeInvisibleChildren="false" default="out">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        
The heightUpdatePolicy configures whether the height of the component is
updated when the DOM node height changes or if the DOM node height is updated
when the component height changes.

**Possible values:**

+  **in** - "height" attribute is determined by DOM nodes offsetHeight
+  **out** - DOM node height is determined by the "height" attribute
+  **both** - both directions

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="widthUpdatePolicy" initializeInvisibleChildren="false" default="out">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        
The widthUpdatePolicy configures whether the width of the component is
updated when the DOM node width changes or if the DOM node width is updated
when the component width changes.

**Possible values:**

+  **in** - "width" attribute is determined by DOM nodes offsetWidth
+  **out** - DOM node width is determined by the "width" attribute
+  **both** - both directions

                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Input" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:HtmlElement" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.html.Input" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="type" initializeInvisibleChildren="false" default="text">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the type of the input element
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="checked" initializeInvisibleChildren="false">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the checked state for radio buttons and checkboxes
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="updateOnEvent" initializeInvisibleChildren="false" default="input">
                    <annotation initializeInvisibleChildren="false">
                        <documentation initializeInvisibleChildren="false">
                        the event on which the bound value will be updated
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Option" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:HtmlElement" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.html.Option" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Select" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns2:SelectionView" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.html.Select" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="enableAutoFillCheck" initializeInvisibleChildren="false" default="true"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TextArea" initializeInvisibleChildren="false">
        <complexContent initializeInvisibleChildren="false">
            <extension base="ns:HtmlElement" initializeInvisibleChildren="false">
                <annotation initializeInvisibleChildren="false">
                    <documentation source="http://www.rappidjs.com/#/api/js.html.TextArea" initializeInvisibleChildren="false"></documentation>
                </annotation>
                <sequence initializeInvisibleChildren="false">
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded" initializeInvisibleChildren="false"/>
                </sequence>
                <attribute name="updateOnEvent" initializeInvisibleChildren="false" default="change"/>
            </extension>
        </complexContent>
    </complexType>
</schema>