xsd/js.ui.xsd

<schema targetNamespace="js.ui" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="js.core" xmlns:ns2="js.html" xmlns:ns="js.ui">
    <import namespace="js.core"/>
    <import namespace="js.html"/>
    <element name="Button" type="ns:Button"/>
    <element name="ButtonGroup" type="ns:ButtonGroup"/>
    <element name="Checkbox" type="ns:Checkbox"/>
    <element name="CheckboxClass" type="ns:CheckboxClass"/>
    <element name="ColorPicker" type="ns:ColorPicker"/>
    <element name="ColorPickerClass" type="ns:ColorPickerClass"/>
    <element name="ContentPlaceHolder" type="ns:ContentPlaceHolder"/>
    <element name="DataGrid" type="ns:DataGrid"/>
    <element name="DataGridClass" type="ns:DataGridClass"/>
    <element name="DataGridColumn" type="ns:DataGridColumn"/>
    <element name="DataGridColumnClass" type="ns:DataGridColumnClass"/>
    <element name="DataGridDateColumn" type="ns:DataGridDateColumn"/>
    <element name="DataGridItemsView" type="ns:DataGridItemsView"/>
    <element name="DataGridItemsViewClass" type="ns:DataGridItemsViewClass"/>
    <element name="DataGridRow" type="ns:DataGridRow"/>
    <element name="DataItemRenderer" type="ns:DataItemRenderer"/>
    <element name="DatePicker" type="ns:DatePicker"/>
    <element name="DatePickerClass" type="ns:DatePickerClass"/>
    <element name="Dialog" type="ns:Dialog"/>
    <element name="DialogClass" type="ns:DialogClass"/>
    <element name="Field" type="ns:Field"/>
    <element name="FieldClass" type="ns:FieldClass"/>
    <element name="FileUpload" type="ns:FileUpload"/>
    <element name="HTMLView" type="ns:HTMLView"/>
    <element name="ItemsView" type="ns:ItemsView"/>
    <element name="Link" type="ns:Link"/>
    <element name="LinkClass" type="ns:LinkClass"/>
    <element name="ListView" type="ns:ListView"/>
    <element name="MenuButton" type="ns:MenuButton"/>
    <element name="MenuButtonClass" type="ns:MenuButtonClass"/>
    <element name="PlaceHolder" type="ns:PlaceHolder"/>
    <element name="ProgressBar" type="ns:ProgressBar"/>
    <element name="ProgressBarClass" type="ns:ProgressBarClass"/>
    <element name="Radio" type="ns:Radio"/>
    <element name="RadioGroup" type="ns:RadioGroup"/>
    <element name="Scrollable" type="ns:Scrollable"/>
    <element name="ScrollView" type="ns:ScrollView"/>
    <element name="ScrollViewClass" type="ns:ScrollViewClass"/>
    <element name="SegmentedView" type="ns:SegmentedView"/>
    <element name="Select" type="ns:Select"/>
    <element name="SelectClass" type="ns:SelectClass"/>
    <element name="SelectionView" type="ns:SelectionView"/>
    <element name="SplitButton" type="ns:SplitButton"/>
    <element name="SplitButtonClass" type="ns:SplitButtonClass"/>
    <element name="Tab" type="ns:Tab"/>
    <element name="TabView" type="ns:TabView"/>
    <element name="TabViewClass" type="ns:TabViewClass"/>
    <element name="TextWrapper" type="ns:TextWrapper"/>
    <element name="TileList" type="ns:TileList"/>
    <element name="TileListClass" type="ns:TileListClass"/>
    <element name="View" type="ns:View"/>
    <element name="VirtualItemsView" type="ns:VirtualItemsView"/>
    <element name="VirtualScrollView" type="ns:VirtualScrollView"/>
    <complexType name="Button">
        <complexContent>
            <extension base="ns:Link">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.Button">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ButtonGroup">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.ButtonGroup">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Checkbox">
        <complexContent>
            <extension base="ns:CheckboxClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.Checkbox">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="checked">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="value">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="label">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="name">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CheckboxClass">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.CheckboxClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="checked">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="value">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="label">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="name">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ColorPicker">
        <complexContent>
            <extension base="ns:ColorPickerClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.ColorPicker">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="color">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="paletteSize" default="300">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ColorPickerClass">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.ColorPickerClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="color">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="paletteSize" default="300">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="oncolorSelect" default="_onColorSelectHandler" type="string">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ContentPlaceHolder">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.ContentPlaceHolder">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="name" use="required">
                    <annotation>
                        <documentation>
                            the unique name to identify the ContentPlaceHolder

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DataGrid">
        <complexContent>
            <extension base="ns:DataGridClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DataGrid">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="rowHeight" default="45">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="width">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="prefetchItemCount">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedItems">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectionMode" default="multi">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DataGridClass">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DataGridClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="rowHeight" default="45">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="width">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="prefetchItemCount">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedItems">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectionMode" default="multi">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="onrowClick" default="_onRowClickHandler" type="string">
                    <annotation>
                        <documentation>
                            The rowClick event is dispatched if a row is clicked in the
                            DataGrid.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="onrowDblClick" default="_onRowDblClickHandler" type="string">
                    <annotation>
                        <documentation>
                            The rowDblClick event is dispatched if a row is double clicked
                            in the DataGrid.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DataGridColumn">
        <complexContent>
            <extension base="ns:DataGridColumnClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DataGridColumn">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="sortPath">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="sortable" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="sortDirection">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="name" default="column">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="item" default="$dataItem.data">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="title">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DataGridColumnClass">
        <complexContent>
            <extension base="ns1:Component">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DataGridColumnClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="sortPath">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="sortable" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="sortDirection">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="name" default="column">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="item" default="$dataItem.data">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="title">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DataGridDateColumn">
        <complexContent>
            <extension base="ns:DataGridColumn">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DataGridDateColumn">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="dateFormat" default="MM-DD-YYYY">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="parseFormat" default="YYYY-MM-DDTHH:mm:ssZ">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DataGridItemsView">
        <complexContent>
            <extension base="ns:DataGridItemsViewClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DataGridItemsView">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="columns">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DataGridItemsViewClass">
        <complexContent>
            <extension base="ns:VirtualItemsView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DataGridItemsViewClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="columns">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DataGridRow">
        <complexContent>
            <extension base="ns:ItemsView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DataGridRow">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="item" default="{$dataItem.data}">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DataItemRenderer">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DataItemRenderer">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="dataItem">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DatePicker">
        <complexContent>
            <extension base="ns:DatePickerClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DatePicker">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="date">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="minYear">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="maxYear">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DatePickerClass">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DatePickerClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="date">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="minYear">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="maxYear">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Dialog">
        <complexContent>
            <extension base="ns:DialogClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.Dialog">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="title">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="closable" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="size" default="normal">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DialogClass">
        <complexContent>
            <extension base="ns1:Window">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.DialogClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="title">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="closable" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="size" default="normal">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Field">
        <complexContent>
            <extension base="ns:FieldClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.Field">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="label">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="inputId">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="error">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FieldClass">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.FieldClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="label">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="inputId">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="error">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FileUpload">
        <complexContent>
            <extension base="ns2:HtmlElement">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.FileUpload">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="tagName" default="input">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="multiSelect">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="type" default="file">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HTMLView">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.HTMLView">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ItemsView">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.ItemsView">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="items">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="itemKey" default="item">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="indexKey" default="index">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="keyPath">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Link">
        <complexContent>
            <extension base="ns:LinkClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.Link">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="href">
                    <annotation>
                        <documentation>
                            the href of the link element.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="label">
                    <annotation>
                        <documentation>
                            the label of the Link rendered as text
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="target" default="intern">
                    <annotation>
                        <documentation>
                            the target of the link element identifying how to open the
                            link. If no target \
                            is specified but a protocol for the href (e.g. http://) if
                            will use external by default.

                            **Possible values**

                            + **intern** - opens the link intern without refreshing the
                            page (e.g. #/myLink)
                            + **external** - the link will open external
                            + **_blank** - opens in a new window

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LinkClass">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.LinkClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="href">
                    <annotation>
                        <documentation>
                            the href of the link element.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="label">
                    <annotation>
                        <documentation>
                            the label of the Link rendered as text
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="target" default="intern">
                    <annotation>
                        <documentation>
                            the target of the link element identifying how to open the
                            link. If no target \
                            is specified but a protocol for the href (e.g. http://) if
                            will use external by default.

                            **Possible values**

                            + **intern** - opens the link intern without refreshing the
                            page (e.g. #/myLink)
                            + **external** - the link will open external
                            + **_blank** - opens in a new window

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ListView">
        <complexContent>
            <extension base="ns:ItemsView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.ListView">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MenuButton">
        <complexContent>
            <extension base="ns:MenuButtonClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.MenuButton">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="menuClassName" default="dropdown-menu">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="menuVisible">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MenuButtonClass">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.MenuButtonClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="menuClassName" default="dropdown-menu">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="menuVisible">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PlaceHolder">
        <complexContent>
            <extension base="ns2:HtmlElement">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.PlaceHolder">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="name" use="required">
                    <annotation>
                        <documentation>
                            the unique identifier for the placeholder within this
                            component

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProgressBar">
        <complexContent>
            <extension base="ns:ProgressBarClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.ProgressBar">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="min">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="max" default="100">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="value">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProgressBarClass">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.ProgressBarClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="min">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="max" default="100">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="value">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Radio">
        <complexContent>
            <extension base="ns:Checkbox">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.Radio">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RadioGroup">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.RadioGroup">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="value">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Scrollable">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.Scrollable">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ScrollView">
        <complexContent>
            <extension base="ns:ScrollViewClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.ScrollView">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="overflow" default="hidden">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="verticalScroll" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="horizontalScroll" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="lockScrollDirection" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="enableScroll">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="enablePointer">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollTop">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollLeft">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="restrictScrollToContainer">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="syncToScrollPosition">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollContainerHeight" default="1116">
                    <annotation>
                        <documentation>
                            TODO: read from content, provide refresh method
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ScrollViewClass">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.ScrollViewClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="verticalScroll" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="horizontalScroll" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="lockScrollDirection" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="enableScroll">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="enablePointer">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollTop">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollLeft">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="restrictScrollToContainer">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="syncToScrollPosition">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollContainerHeight" default="1116">
                    <annotation>
                        <documentation>
                            TODO: read from content, provide refresh method
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SegmentedView">
        <complexContent>
            <extension base="ns:ItemsView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.SegmentedView">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="visibleView">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Select">
        <complexContent>
            <extension base="ns:SelectClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.Select">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="open">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedItem">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="searchTerm">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="placeHolder" default="Select Something">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="queryCreator">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="itemHeight" default="30">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="dropDownHeight" default="200">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SelectClass">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.SelectClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="open">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedItem">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="searchTerm">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="placeHolder" default="Select Something">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="queryCreator">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="itemHeight" default="30">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="dropDownHeight" default="200">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SelectionView">
        <complexContent>
            <extension base="ns:ItemsView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.SelectionView">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="multiSelect">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedViews">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedItems">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedItem">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedIndex">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="needsSelection">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="forceSelectable" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="allowDeselection">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SplitButton">
        <complexContent>
            <extension base="ns:SplitButtonClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.SplitButton">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SplitButtonClass">
        <complexContent>
            <extension base="ns:MenuButton">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.SplitButtonClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Tab">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.Tab">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="title">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TabView">
        <complexContent>
            <extension base="ns:TabViewClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.TabView">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="selectedIndex" default="null">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedTab" default="null">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedView">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="tabClassName" default="nav nav-tabs">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="menuClassName">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="contentClassName">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="tabItems">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TabViewClass">
        <complexContent>
            <extension base="ns:ItemsView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.TabViewClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="selectedIndex">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedView">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedTab">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="tabClassName" default="nav nav-tabs">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="menuClassName">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="contentClassName">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="tabItems">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="onselectTab" default="_onSelectTabHandler" type="string">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TextWrapper">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.TextWrapper">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TileList">
        <complexContent>
            <extension base="ns:TileListClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.TileList">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="onkeydown" default="_onKeyDown">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollContainerClass">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="minItemSize" default="100">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="maxItemSize" default="150">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="itemWidth">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="itemHeight">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="rows">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="cols">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="aspectRatio" default="1">
                    <annotation>
                        <documentation>
                            calculates itemHeight, itemWidth if set to AUTO depending on
                            the scrollDirection
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TileListClass">
        <complexContent>
            <extension base="ns:VirtualItemsView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.TileListClass">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="scrollContainerClass">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="minItemSize" default="100">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="maxItemSize" default="150">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="itemWidth">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="itemHeight">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="rows">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="cols">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="aspectRatio" default="1">
                    <annotation>
                        <documentation>
                            calculates itemHeight, itemWidth if set to AUTO depending on
                            the scrollDirection
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="View">
        <complexContent>
            <extension base="ns2:HtmlElement">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.View">

                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="tagName" default="div">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VirtualItemsView">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.VirtualItemsView">
                        defines an ItemsView which can show parts of data
                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="data">
                    <annotation>
                        <documentation>
                            the data, which should be bound
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollTop">
                    <annotation>
                        <documentation>
                            TODO: update positions, after DOM Element scrollLeft and
                            scrollTop changed
                            scroll positions
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollLeft">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="width" default="300">
                    <annotation>
                        <documentation>
                            TODO: update width and height, after DOM Element resized
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="height" default="300">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollToIndex">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="horizontalGap">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="verticalGap">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollDirection">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="prefetchItemCount">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="fetchPageDelay" default="500">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="fetchWithFullData">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectionMode" default="multi">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedItems">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="hoverItem">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="onitemClick" default="_onItemClickHandler" type="string">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="onitemDblClick" default="_onItemDblClickHandler" type="string">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="onitemMouseOver" default="_onItemMouseOverHandler" type="string">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="onitemMouseOut" default="_onItemMouseOutHandler" type="string">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VirtualScrollView">
        <complexContent>
            <extension base="ns:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/js.ui.VirtualScrollView">
                        defines an ItemsView which can show parts of data
                    </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="scrollTop">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="scrollLeft">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="updateHeightPolicy" default="in">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="updateWidthPolicy" default="in">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="vertical" default="true">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="horizontal">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="mouseTracking">
                    <annotation>
                        <documentation>

                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
</schema>